<h1>Apply for Access</h1>

<form action="/apply" method="post">
  <p>
    <label for="username">Username: </label>
    <input type="text" name="user[username]" id="username">
  </p>

  <p>
    <label for="name">Name: </label>
    <input type="text" name="user[name]" id="name">
  </p>

  <p>
    <label for="email">Email: </label>
    <input type="text" name="user[email]" id="email">
  </p>

  <p>
    <label for="password">Password: </label>
    <input type="password" name="user[password]" id="password">
  </p>

  <p><button class="btn btn-primary" type="submit">Apply</button></p>
</form>
