<h1>BT TV Device Manager</h1>

<form class="form-signin" action="/login" method="post">
<div class="row justify-content-center mt-1">
  <label for="username" class="sr-only">Username</label>
  <input type="text" name="username" id="username" placeholder="Username"
    required autofocus>
</div>
<div class="row justify-content-center mt-1">
  <label for="password" class="sr-only">Password</label>
  <input type="password" name="password" id="password" placeholder="Password"
    required>
</div>
<div class="row justify-content-center mt-1">
  <button class="btn btn-primary" type="submit" id='signin'>Sign In</button>
</div>
<div class="row justify-content-center mt-3">
  <p class="text-muted w-50">
    You have accessed a computer managed by BT. You are required to have
    authorisation from BT before you proceed and you are strictly limited to
    the use set out within that authorisation. Unauthorised access to or misuse
    of this system is prohibited and constitutes an offence under the Computer
    Misuse Act 1990. If you disclose any information obtained through this
    system without authority BT may take legal action against you.
  </p>
</div>
</form>

