<section class="row justify-content-center">

  <div class="col-8">
  <h1>Edit</h1>

  <form action="/users/<%= @user.id %>" method="post" id="form">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="row mb-3">
      <div class="col-6">
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username"
          value="<%= @user.username %>" class="form-control">
      </div>

      <div class="col-6">
        <label for="model">Name</label>
        <input type="text" name="user[name]" id="name"
          value="<%= @user.name %>" class="form-control">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="email">Email</label>
        <input type="email" name="user[email]" id="email" class="form-control"
          value="<%= @user.email %>">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="password">Current Password</label>
        <input type="password" name="current_password" id="current_password"
          class="form-control">
      </div>
      <div class="col-6">
        <label for="user[password]">New Password</label>
        <input type="password" name="user[password]" id="new_password"
          class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-block" id="update">
          Update
        </button>
      </div>

      <div class="col-6">
        <button onClick="delete_device()" class="btn btn-danger btn-block"
          id="delete">
          Delete
        </button>
      </div>
    </div>

  </form>

</section>

<script>
function delete_device() {
  document.getElementById("hidden").value = "delete"
  document.getElementById("form").submit()
}
</script>
