<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>BT TV - Device Manager</title>
</head>
<body class="text-center">
  <div class="container">

    <header class="row justify-content-between align-items-center mb-2"
      style="background-color: #6400aa; height: 64px;">
      <div class="col-4"><img src="/logo.png" alt="logo"></div>
      <% if logged_in? %>
      <nav class="nav col-5 navbar-dark justify-content-end">
      <% if admin? %>
        <a href="/groups" class="nav-link text-light">Groups</a>
        <a href="/users" class="nav-link text-light">Users</a>
      <% end %>
        <a href="/devices" class="nav-link text-light">Devices</a>
        <a href="/users/<%= current_user.id %>" class="nav-link text-light">
          Profile</a>
        <a href="/signout" class="nav-link text-light">Sign Out</a>
      </nav>
      <% else %>
      <nav class="nav col-3 navbar-dark justify-content-end">
        <a href="/apply" class="nav-link text-light">Apply for Access</a>
      </nav>
      <% end %>
    </header>

    <%= yield %>

    <footer class="mb-2">
      <hr class="mb-2">
      <span class="text-muted">&copy; 2018 BT TV. All rights reserved</span>
    </footer>

  </div>
</body>
</html>